* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  height: 100%;
  text-align: center;
  background-color: #f3fcf2;
  color: #fff;
  font-size: 1.5em;
  padding-top: 3.8rem;

  .headerNavigator {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 calc(5% + 2px);
    width: 100%;
    height: 3.8rem;
    color: #051811;
    font-size: 1rem;

    .headerTitle {
      display: flex;
      align-items: center;
      h1 {
        font-weight: 700;
        font-size: 1rem;
        margin-left: 0.4rem;
      }
    }
    .headerButtons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(39.92deg, #9ad0aa 16.61%, #00ca8e 82.49%);
        border-radius: 4px;
        border: none;
        width: auto;
        min-width: 1.9rem;
        height: 1.9rem;
        margin-left: 0.8rem;
        span {
          width: 2.4rem;
          margin-left: 0.2rem;
          font-weight: 800;
          color: #e6fff8;
          text-align: right;
        }
      }
    }
  }

  .screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4.6rem;
  }

  .bottomTabs {
    position: fixed;
    z-index: 4;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0 0.4rem;
    background: #ffffff;
    box-shadow: 0px 0px 3rem rgba(0, 0, 0, 0.15);
    border-radius: 1.6rem 1.6rem 0px 0px;
    .tabs {
      padding: 0.6rem;
      color: #acacac;
      &,
      * {
        transition: color 0.3s, fill 0.3s;
      }
      p {
        padding: 0;
        margin: 0;
        font-size: 0.8rem;
      }
    }
    .active {
      color: #07b07d;
      circle,
      rect,
      path {
        fill: #07b07d;
      }
    }
  }
}
