.tasks {
  background-color: rgba(55, 205, 152, 0.25);
  width: 90%;
  margin-top: 1.6rem;
  border-radius: 6px;
  padding: 10px;
  .taskTitle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    color: #051811;
    font-size: 1rem;
    margin-bottom: 8px;
    p {
      font-size: 1.2rem;
      margin: 0;
      text-transform: uppercase;
      color: #707070;
    }
    .buttons {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(39.92deg, #9ad0aa 16.61%, #00ca8e 82.49%);
        border-radius: 4px;
        border: none;
        width: 1.9rem;
        height: 1.9rem;
        margin-left: 0.8rem;
        span {
          width: 2.4rem;
          margin-left: 0.2rem;
          font-weight: 800;
          color: #e6fff8;
          text-align: right;
        }
      }
    }
  }
  .taskWrapper {
    button {
      svg {
        margin-right: 6px;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 3rem;
      text-transform: uppercase;
      font-weight: 500;
      background-color: #fff;
      border: none;
      color: #00ca8e;
      width: 100%;
      margin: 0 auto;
      border-radius: 6px;
    }
    .taskColumn {
      .taskDraggable {
        position: relative;
        display: grid;
        grid-template-columns: 40px calc(100% - 80px) 40px;
        align-items: center;
        background-color: #fff;
        color: #051811;
        padding: 8px;
        border-radius: 3px;
        margin-bottom: 10px;
        input[type='checkbox'] {
          width: 25px;
          height: 25px;
          opacity: 0;
          cursor: pointer;
          & + *::before {
            content: '';
            position: absolute;
            pointer-events: none;
            font-size: 1.2rem;
            text-align: center;
            color: #051811;
            top: 50%;
            left: 8px;
            width: 1.5rem;
            height: 1.5rem;
            background-color: transparent;
            border-radius: 50%;
            border: 1px solid #050505;
            transition: background-color 0.5s ease;
            padding-left: 2px;
            box-sizing: border-box;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
            transform: translateY(-50%);
          }
          &:checked + *::before {
            content: '✓';
            background: linear-gradient(
              39.92deg,
              #9ad0aa 16.61%,
              #00ca8e 82.49%
            );
            border-color: #00ca8e;
          }
          &:checked + * {
            color: #a3a3a3;
            text-decoration: line-through;
          }
        }
        p {
          font-size: 0.95rem;
          padding: 10px;
          padding-left: 0;
          text-align: left;
          padding: 0;
          margin: 0;
          overflow-wrap: break-word;
          width: 95%;
        }
        button {
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: transparent;
          border: 1px solid #d6d6d6;
          svg {
            margin: 0;
          }
        }
      }
    }
  }
}
